<div style="border-style: solid;border-color: red;height:1000px;">
    <!--Publications-->
    <section>
        <h3>Publications</h3>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                
                <a class="nav-item nav-link" href="/publications" style="font-size:20px;">+Featured Publications</a>
                <a class="nav-item nav-link" href="/publications" style="font-size:20px;">+Complete Bibliography</a>
            </div>
        </div>
    </section>

    <section>
        <h3>By Year</h3>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2023  %}" style="font-size:20px;">+2023</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2022  %}" style="font-size:20px;">+2022</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2021  %}" style="font-size:20px;">+2021</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2020  %}" style="font-size:20px;">+2020</a>
            </div>

            <div class="col-lg-3 mx-auto">
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2019  %}" style="font-size:20px;">+2019</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2018  %}" style="font-size:20px;">+2018</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2017  %}" style="font-size:20px;">+2017</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2016  %}" style="font-size:20px;">+2016</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2015  %}" style="font-size:20px;">+2015</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2014  %}" style="font-size:20px;">+2014</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2013  %}" style="font-size:20px;">+2013</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2012  %}" style="font-size:20px;">+2012</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2011  %}" style="font-size:20px;">+2011</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2010  %}" style="font-size:20px;">+2010</a>
            </div>

            <div class="col-lg-3 mx-auto">
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2009  %}" style="font-size:20px;">+2009</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2008  %}" style="font-size:20px;">+2008</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2007  %}" style="font-size:20px;">+2007</a>
                <a class="nav-item nav-link" href="{% url 'filter_year' id=2006  %}" style="font-size:20px;">+2006</a>
            </div>

            <div class="col-lg-3 mx-auto">
                <a class="nav-item nav-link" href="{% url 'filter_year' id=1999  %}" style="font-size:20px;">+1999</a>
            </div>
        </div>
    </section>


    <section>
        <h3>By Author</h3>
        <div class="row">
            <div class="col-lg-6">
                <a class="nav-item nav-link" href="{% url 'filter_author' str="Alemazkoor" %}" style="font-size:18px;">+Negin Alemazkoor</a>
                <a class="nav-item nav-link" href="{% url 'filter_author' str="Alemzadeh" %}" style="font-size:18px;">+Homa Alemzadeh</a>
                <a class="nav-item nav-link" href="{% url 'filter_author' str="Band" %}" style="font-size:18px;">+Larry Band</a>
                
            </div>

            <div class="col-lg-6">
                <a class="nav-item nav-link" href="{% url 'filter_author' str="Barnes" %}" style="font-size:18px;">+Laura Barnes</a>
                <a class="nav-item nav-link" href="{% url 'filter_author' str="Goodall" %}" style="font-size:18px;">+Jonathan L. Goodall</a>
                
                
            </div>

            
        </div>
    </section>
    <section>
        <h3>Copyright</h3>
        <p style="font-size:18px;">All publication copyrights reserved by the authors, NASA, JPL, Caltech, and/or the respective journal. Unauthorized reproduction or modification prohibited.</p>
    </section>
</div>