<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <title>
   Link Lab Group | Publications
  </title>
  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet"/>
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" rel="stylesheet"/>
  <!-- Separate Popper and Bootstrap JS -->
  <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
  </script>
  <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js">
  </script>
  <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js">
  </script>
 </head>
 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">
   Link Lab Group | Publications
  </a>
  <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
   <span class="navbar-toggler-icon">
   </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="./index.html">
     Publications
    </a>
   </div>
  </div>
 </nav>
 <body id="page-top" style="padding-top: 120px">
  <section>
   <!-- <div class="container"> -->
   <div class="row">
    <div class="col-lg-9 mx-auto">
     <h1>
      Publications - Link Lab
     </h1>
     <div class="row" id="publication">
      <div class="col-md-8 index">
       <html>
        <body>
         <h2 style="margin-bottom:20px;">
          Nicola Bezzo Publications
         </h2>
         <div>
          &lt;span&gt;&lt;/span&gt;
         </div>
        </body>
       </html>
      </div>
      <div class="secondary_column">
       <div>
        <!--Publications-->
        <section>
         <h2>
          Publications
         </h2>
        </section>
        <section>
         <h3>
          By Year
         </h3>
         <div class="row">
          <div class="col-lg-6 filter-year">
           <a class="nav-item nav-link" href="./2024.html" style="font-size:20px;">
            +2024
           </a>
           <a class="nav-item nav-link" href="./2023.html" style="font-size:20px;">
            +2023
           </a>
           <a class="nav-item nav-link" href="./2022.html" style="font-size:20px;">
            +2022
           </a>
           <a class="nav-item nav-link" href="./2021.html" style="font-size:20px;">
            +2021
           </a>
           <a class="nav-item nav-link" href="./2020.html" style="font-size:20px;">
            +2020
           </a>
          </div>
          <div class="col-lg-6 filter-year">
           <a class="nav-item nav-link" href="./2019.html" style="font-size:20px;">
            +2019
           </a>
           <a class="nav-item nav-link" href="./2018.html" style="font-size:20px;">
            +2018
           </a>
           <a class="nav-item nav-link" href="./2017.html" style="font-size:20px;">
            +2017
           </a>
          </div>
         </div>
        </section>
        <section>
         <!--
                'Gregory Gerling': "ibBUGLAAAAAJ&hl",
                'Barry Johnson': "vMTL9koAAAAJ&hl",
                'Yen-Ling Kuo': 'pNkyRs4AAAAJ',
                'James H. Lambert': "qVfffxkAAAAJ",
                'Felix Xiaozhu Lin': "f6FFhS8AAAAJ",
                'Cong Shen': "70LBhKcAAAAJ",
                'Sarah Sun': "7oNkNtIAAAAJ",
                'Shangtong Zhang': "Pn7fj4IAAAAJ"
        -->
         <h3>
          By Author
         </h3>
         <div class="row">
          <div class="col-lg-6">
           <a class="nav-item nav-link" href="./Negin Alemazkoor.html" style="font-size:18px;">
            +Negin
                    Alemazkoor
           </a>
           <a class="nav-item nav-link" href="./Homa Alemzadeh.html" style="font-size:18px;">
            +Homa
                    Alemzadeh
           </a>
           <a class="nav-item nav-link" href="./Lawrence E. Band.html" style="font-size:18px;">
            +Lawrence E.
                    Band
           </a>
           <a class="nav-item nav-link" href="./Laura E. Barnes.html" style="font-size:18px;">
            +Laura
                    Barnes
           </a>
           <a class="nav-item nav-link" href="./Madhur Behl.html" style="font-size:18px;">
            +Madhur
                    Behl
           </a>
           <a class="nav-item nav-link" href="./Nicola Bezzo.html" style="font-size:18px;">
            +Nicola
                    Bezzo
           </a>
           <a class="nav-item nav-link" href="./Steven Bowers.html" style="font-size:18px;">
            +Steven
                    Bowers
           </a>
           <a class="nav-item nav-link" href="./Maite Brandt-Pearce.html" style="font-size:18px;">
            +Maite
                    Brandt-Pearce
           </a>
           <a class="nav-item nav-link" href="./Benton H. Calhoun.html" style="font-size:18px;">
            +Benton H.
                    Calhoun
           </a>
           <a class="nav-item nav-link" href="./Brad Campbell.html" style="font-size:18px;">
            +Brad
                    Campbell
           </a>
           <a class="nav-item nav-link" href="./Qing Chang.html" style="font-size:18px;">
            +Qing
                    Chang
           </a>
           <a class="nav-item nav-link" href="./Donna T. Chen.html" style="font-size:18px;">
            +Donna T.
                    Chen
           </a>
           <a class="nav-item nav-link" href="./Seokhyun Chung.html" style="font-size:18px;">
            +Seokhyun Chung
           </a>
           <a class="nav-item nav-link" href="./Haibo Dong.html" style="font-size:18px;">
            +Haibo
                    Dong
           </a>
           <a class="nav-item nav-link" href="./Afsaneh Doryab.html" style="font-size:18px;">
            +Afsaneh
                    Doryab
           </a>
           <a class="nav-item nav-link" href="./Lu Feng.html" style="font-size:18px;">
            +Lu
                    Feng
           </a>
           <a class="nav-item nav-link" href="./Tomonari Furukawa.html" style="font-size:18px;">
            +Tomonari
                    Furukawa
           </a>
           <a class="nav-item nav-link" href="./Gregory J. Gerling.html" style="font-size:18px;">
            +Gregory J.
                    Gerling
           </a>
           <a class="nav-item nav-link" href="./Jonathan L. Goodall.html" style="font-size:18px;">
            +Jonathan L.
                    Goodall
           </a>
           <a class="nav-item nav-link" href="./Devin K. Harris.html" style="font-size:18px;">
            +Devin
                    K. Harris
           </a>
           <a class="nav-item nav-link" href="./Seongkook Heo.html" style="font-size:18px;">
            +Seongkook Heo
           </a>
          </div>
          <div class="col-lg-6">
           <a class="nav-item nav-link" href="./Arsalan Heydarian.html" style="font-size:18px;">
            +Arsalan
                    Heydarian
           </a>
           <a class="nav-item nav-link" href="./Tariq Iqbal.html" style="font-size:18px;">
            +Tariq
                    Iqbal
           </a>
           <a class="nav-item nav-link" href="./Yen-Ling Kuo.html" style="font-size:18px;">
            +Yen-Ling
                    Kuo
           </a>
           <a class="nav-item nav-link" href="./Venkataraman Lakshmi.html" style="font-size:18px;">
            +Venkataraman
                    Lakshmi
           </a>
           <a class="nav-item nav-link" href="./James H. Lambert.html" style="font-size:18px;">
            +James
                    H.
                    Lambert
           </a>
           <a class="nav-item nav-link" href="./Zongli Lin.html" style="font-size:18px;">
            +Zongli
                    Lin
           </a>
           <a class="nav-item nav-link" href="./Felix Xiaozhu Lin.html" style="font-size:18px;">
            +Felix
                    Xiaozhu Lin
           </a>
           <a class="nav-item nav-link" href="./Zhen Liu.html" style="font-size:18px;">
            +Zhen
                    Liu
           </a>
           <a class="nav-item nav-link" href="./Eric Loth.html" style="font-size:18px;">
            +Eric
                    Loth
           </a>
           <a class="nav-item nav-link" href="./Osman E. Ozbulut.html" style="font-size:18px;">
            +Osman
                    E.
                    Ozbulut
           </a>
           <a class="nav-item nav-link" href="./Byungkyu Brian Park.html" style="font-size:18px;">
            +Byungkyu Brian
                    Park
           </a>
           <a class="nav-item nav-link" href="./Daniel Quinn.html" style="font-size:18px;">
            +Daniel
                    Quinn
           </a>
           <a class="nav-item nav-link" href="./Sara L. Riggs.html" style="font-size:18px;">
            +Sara L.
                    Riggs
           </a>
           <a class="nav-item nav-link" href="./Haiying Shen.html" style="font-size:18px;">
            +Haiying
                    Shen
           </a>
           <a class="nav-item nav-link" href="./Cong Shen.html" style="font-size:18px;">
            +Cong
                    Shen
           </a>
           <a class="nav-item nav-link" href="./Brian Smith.html" style="font-size:18px;">
            +Brian
                    Smith
           </a>
           <a class="nav-item nav-link" href="./Mircea R. Stan.html" style="font-size:18px;">
            +Mircea
                    Stan
           </a>
           <a class="nav-item nav-link" href="./Yixin Sun.html" style="font-size:18px;">
            +Yixin
                    Sun
           </a>
           <a class="nav-item nav-link" href="./Ye Sun.html" style="font-size:18px;">
            +Ye
                    Sun
           </a>
           <a class="nav-item nav-link" href="./Shangtong Zhang.html" style="font-size:18px;">
            +Shangtong Zhang
           </a>
           <a class="nav-item nav-link" href="./N. Rich Nguyen.html" style="font-size:18px;">
            +N.
                    Rich Nguyen
           </a>
           <a class="nav-item nav-link" href="./Somayeh Asadi.html" style="font-size:18px;">
            +Somayeh
                    Asadi
           </a>
           <a class="nav-item nav-link" href="./Kun Qian.html" style="font-size:18px;">
            +Kun
                    Qian
           </a>
          </div>
         </div>
        </section>
        <!-- <section>
        <h3>By Research Theme</h3>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <a class="nav-item nav-link" href="{% url 'filter_theme' str=2023  %}"
                    style="font-size:20px;">+Autonomous Systems</a>
                <a class="nav-item nav-link" href="{% url 'filter_theme' str=2022  %}" style="font-size:20px;">+Hardware
                    For Internet of Things (IoT) </a>
                <a class="nav-item nav-link" href="{% url 'filter_theme' str=2021  %}" style="font-size:20px;">+Smart
                    and Connected Health</a>
                <a class="nav-item nav-link" href="{% url 'filter_theme' str=2020  %}" style="font-size:20px;">+Smart
                    Cities</a>
            </div>

        </div>
    </section> -->
        <section>
         <h3>
          Copyright
         </h3>
         <p style="font-size:22px;">
          All publication copyrights reserved by all the authors in the Link Lab and/or the
            respective journal. Unauthorized reproduction or modification prohibited.
         </p>
        </section>
       </div>
      </div>
      <script>
       const column = document.getElementById("publication");
                        var target = column.childNodes[2];
                        if (target.tagName == "I") {
                            target.className += "col-md-4";
                        } else {
                            var secondary_column = document.getElementsByClassName("secondary_column");
                            secondary_column[0].className = "col-md-4";
                        }
      </script>
     </div>
    </div>
   </div>
   <!-- </div>  -->
  </section>
  <footer class="py-5 sticky-bottom">
   <div class="container">
    <!-- Copyright &copy; -->
    <p class="m-0 text-center" style="color:green">
     <a href="https://github.com/AustinFengYi/linklabgroup" style="color:green" target="_blank">
      Link Lab Group | Publications
     </a>
     2024
    </p>
   </div>
  </footer>
 </body>
</html>
