{% extends 'base.html' %} {% block content %}
{% load static %}

<h1>Publications - Link Lab</h1>

<div class="row" id="publication">
    <div class="col-md-8">
        <h2 style="margin-bottom:20px;">2023 Publications</h2>
        <script src="{{bibbase_url}}&authorFirst=1&filter=year:2023"> 
        </script>
    </div> 

    <!-- <script src="https://bibbase.org/show?bib=https://bibbase.org/f/fFERMKNwKyHLsDPJ3/Link_Lab_Publications.bib&noBootstrap=1&&jsonp=1&authorFirst=1"></script> -->
    <!-- <script src="https://bibbase.org/show?bib=https://bibbase.org/f/fFERMKNwKyHLsDPJ3/linklab_test.bib&noBootstrap=1&&jsonp=1&authorFirst=1"></script> -->
     
    <div class="secondary_column">
        {% include "publications/column.html" %}
    </div>

    <script>
        const column = document.getElementById("publication");
        var target = column.childNodes[2];
        if (target.tagName == "I") {
            target.className += "col-md-4";
        } else {
            var secondary_column = document.getElementsByClassName("secondary_column");
            secondary_column[0].className = "col-md-4";
        } 
    </script>
</div>


{% endblock %}
 